<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" href="../public/bootstrap/bootstrap-3.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/bootstrap/bootstrap-4.6.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/public/nav.css">
    <link rel="stylesheet" href="../public/css/public/content-wrap-title-rich-text.css">
    <link rel="stylesheet" href="../public/css/about-us.css">
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/public/banner-side.css">
    <link rel="stylesheet" href="../public/css/public/footer.css">
    <script src="../public/js/jquery-3.7.1.min.js"></script>
    <script src="../public/js/menu-show.js"></script>
    <!-- icon -->
    <link rel="icon" href="../favicon.ico">
    <style>
        *{
            font-family: "Montserrat", sans-serif;
        }
    </style>

</head>
<body>

    <header>   
        <nav>
            <div class="nav-content-area">
                <div class="nav-icon">
                    <img src="../public/images/pages-pic-01.png" alt="" >
                </div>            
                <div class="nav-functional-area">
                    <ul class="nav-functional-area-ul">
                        <li style="position: relative;" class="nav-functional-area-list">
                            <a href="./index.html" mousemove="">HOME</a>                            
                        </li>
                        <li style="position: relative;" class="nav-functional-area-list">
                            <a href="#mk1">SERVICE</a>                  
                            <ul style="display: none; position: absolute ; top: 25; left: 15; background-color:rgb(6,61,108); width: 25rem;border-top: 1px solid rgb(10,96,172); text-indent: 1.5rem;">
                                <li ><a href="./guarding-service.html">Guarding Service</a></li>
                                <li ><a href="./system-service.html">System Service</a></li>
                                <li ><a href="./consulting-service.html">Consulting Service</a></li>  
                            </ul>
                        </li>
                        <li style="position: relative;" class="nav-functional-area-list">
                            <a href="./about-us.html">ABOUT</a>                           
                        </li>
                        <li><a href="./contact.html" class="single-functions">CONTACT</a></li>                        
                        <li><button type="button" class="btn btn-danger"><a href="./redirect.html" class="redirect">Request Security</a></button></li>
                    </ul>          
                    
                </div>
                <div class="nav-isShow-button">
                    <button type="button" class="btn btn-primary">Menu</button>
                </div>
               
            </div>
        </nav>   
    </header>   

<!-- Menu-functional-area start-->
<div class="Menu-functional-area">                
    <div class="Menu-close-btn">                    
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
        </svg>                    
    </div>                 
    <div class="Menu-functionals">
        <a href="./index.html" class="Menu-functionals-list">HOME</a>
        <a href="#" class="Menu-functionals-list">SERVICES</a>
            <div class="GSOC-functionals">
                <a href="./guarding-service.html"></span>Guarding Service</a>
                <a href="./system-service.html"></span>System Service</a>
                <a href="./consulting-service.html"></span>Consulting Service</a>
            </div>  
        <a href="./about-us.html" class="Menu-functionals-list">ABOUT</a>
        <a href="./contact.html">CONTACT</a>
        <button type="button" class="btn btn-danger"><a href="./redirect.html" class="redirect">Request Security</a></button>
    </div>        
</div>
<!-- Menu-functional-area end-->

<!-- content wrap start -->
    <div class="card bg-dark text-white">
        <img src="../public/images/about-us/about-us-img-01.jpg" class="card-img" alt="...">
        <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">  
            <!-- banner tile text -->
            <div class="box title-text-center">
                <p class="card-text">LEADERSHIP</p> 
            </div>
            <!-- banner rich text -->
            <div class="box rich-text-center">
                <p class="card-text">As an industry-leading security provider, Brosnan <sup>®</sup> focuses on ways to continuously improve our operational structure, our people and the processes surrounding service delivery</p> 
            </div>
        </div>  
    </div>
<!-- content wrap end -->

<!-- pageContentStart -->
    <div class="container-full-screen p-5">

    <!-- chief leader start -->
        <div class="row m-0">
                <div class="col-sm-12">
                    <div class="container  d-flex justify-content-center">
                    <div class="card">
                        <img src="../public/images/about-us/about-us-img-02.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Patrick J. Brosnan</h5>
                            <p class="card-text">Founder, Chairman</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- chief leader end -->

    <!-- leader start-->
        <!-- row1 -->
        <div class="container d-flex justify-content-between">
            <div class="card">
                <img src="../public/images/about-us/about-us-img-03.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/about-us/about-us-img-04.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
        </div>
        <!-- row2 -->
        <div class="container d-flex justify-content-between ">
            <div class="card">
                <img src="../public/images/about-us/about-us-img-05.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/about-us/about-us-img-06.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
        </div>
        <!-- row3 -->
        <div class="container d-flex justify-content-between ">
            <div class="card">
                <img src="../public/images/about-us/about-us-img-07.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/about-us/about-us-img-08.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
        </div>
        <!-- row4 -->
        <div class="container d-flex justify-content-between ">
            <div class="card">
                <img src="../public/images/about-us/about-us-img-09.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/about-us/about-us-img-10.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
        </div>
        <!-- row5 -->
        <div class="container d-flex justify-content-between ">
            <div class="card">
                <img src="../public/images/about-us/about-us-img-11.jpg">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/about-us/about-us-img-12.jpg">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
        </div>
        <!-- row6 -->
        <div class="container d-flex justify-content-between ">
            <div class="card">
                <img src="../public/images/about-us/about-us-img-13.jpg">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/about-us/about-us-img-14.jpg">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
        </div>
        <!-- row7 -->
        <div class="container d-flex justify-content-between ">
            <div class="card">
                <img src="../public/images/about-us/about-us-img-15.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/about-us/about-us-img-16.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
        </div>
        <!-- row8 -->
        <div class="container d-flex justify-content-between ">
            <div class="card">
                <img src="../public/images/about-us/about-us-img-17.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Want to be one of us? We'd be happy to see youWant to be one of us? We'd be happy to see youWant to be one of us? We'd be happy to see you</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/about-us/about-us-img-18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
        </div>
        <!-- row9 -->
        <div class="container d-flex justify-content-between">
            <div class="card">
                <img src="../public/images/about-us/about-us-img-19.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/about-us/about-us-img-20.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
        </div>
    <!-- leader end -->

    </div>
<!-- page content end -->


<!-- banner side start -->
<div class="container-fluid">
    <div class="container">
        <div class="banner-side d-flex justify-content-between align-items-center " >
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title m-0">Get Started with Brosnan®</h5>
                    <p class="card-text">The Leader in Security Services</p>
                </div>
            </div>
            <div class="right-btn">
                <a href="./redirect.html" class="btn btn-primary">Get a Quote</a>
            </div>
        </div>
    </div>
</div>
<!-- banner side end -->


<!-- footer start -->
<div class="container-fluid" style="background-color: #292A2F;">
    <div class="row justify-content-md-around">
        <div class="col-sm-auto" style="color: #fff;">
            <p class="title-text">SOME CONPANY ALOGAN</p>
        </div>
    </div>
    <hr style="background-color: #fff;">
    <div class="row justify-content-md-around" style="padding-bottom: 60px;">
        <div class="col-sm-auto" style="color: #fff;">
            <p class="title-text">COMPANY</p>
             <p style="font-size: 16px;"><a href="./about-us.html" style="color: #fff;">About Us</a></p>
        </div>
        <div class="col-sm-auto" style="color: #fff;">
            <p class="title-text">SECURITY SERVICES</p>
            <p style="font-size: 16px;"><a href="./guarding-service.html" style="color: #fff;">Guarding Service</a></p>
            <p style="font-size: 16px;"><a href="./system-service.html" style="color: #fff;">System Service</a></p>
            <p style="font-size: 16px;"><a href="./consulting-service.html" style="color: #fff;">Consulting Service</a></p>
        </div>
        <div class="col-sm-auto" style="color: #fff;">
            <p class="title-text"><a href="./contact.html" style="color: #fff;">CONTACT</a></p>
            <p style="font-size: 16px;">Address:</p>
            <p style="font-size: 16px;">E-Mail</p>
        </div>
    </div>
</div>
<!-- footer end -->
</body>
</html>