<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONSULTING SERVICE</title>
    <link rel="stylesheet" href="../public/bootstrap/bootstrap-3.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/bootstrap/bootstrap-4.6.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/consulting-service.css">
    <link rel="stylesheet" href="../public/css/public/nav.css">
    <link rel="stylesheet" href="../public/css/public/content-wrap-title.css">
    <link rel="stylesheet" href="../public/css/public/footer.css">
    <script src="../public/js/jquery-3.7.1.min.js"></script>
    <script src="../public/js/menu-show.js"></script>
    <!-- icon -->
    <link rel="icon" href="../favicon.ico">
    
</head>
<body>
<!-- header start -->
    <header>           
        <nav>
            <div class="nav-content-area">
                <div class="nav-icon">
                    <img src="../public/images/pages-pic-01.png" alt="" >
                </div>            
                <div class="nav-functional-area">
                    <ul class="nav-functional-area-ul">
                        <li style="position: relative;" class="nav-functional-area-list">
                            <a href="#mk1" mousemove="">Servise</a>
                            <ul style="display: none; position: absolute ; top: 25; background-color:rgb(6,61,108); width: 25rem;border-top: 1px solid rgb(10,96,172);">
                                <li ><a href="#mk1">Emergency and Disaster Reaponse</a></li>
                                <li ><a href="#mk1">Disease Outbreak Response</a></li>
                                <li ><a href="#mk1">Strategic Response Teams</a></li>
                                <li ><a href="#mk1">Real Estate Security Services</a></li>       
                            </ul>
                        </li>
                        <li style="position: relative;" class="nav-functional-area-list">
                            <a href="#mk1">GSOC</a>                  
                            <ul style="display: none; position: absolute ; top: 25; left: 15; background-color:rgb(6,61,108); width: 25rem;border-top: 1px solid rgb(10,96,172);">
                                <li ><a href="#mk1">Global SEcurity Operations Center (GSOC)</a></li>
                                <li ><a href="#mk1">Brosnan Command Center (BCC)</a></li>
                                <li ><a href="#mk1">Bronan Intelligence Group(BIG)</a></li>
                                <li ><a href="#mk1">Bronan Emergency Operations Center(EOC)</a></li>       
                            </ul>
                        </li>
                        <li style="position: relative;" class="nav-functional-area-list">
                            <a href="#mk1">About</a>                  
                            <ul style="display: none; position: absolute ; top: 25; background-color:rgb(6,61,108); width: 25rem;border-top: 1px solid rgb(10,96,172);">
                                <li ><a href="#mk1">Leadership</a></li>
                                <li ><a href="#mk1">Rewards & Recognitions</a></li>
                                <li ><a href="#mk1">SAFETY Act</a></li>
                                <li ><a href="#mk1">Press</a></li>       
                            </ul>
                        </li>
                        <li><a href="#mk1" class="single-functions">Contact</a></li>
                        <li><a href="#mk1" class="single-functions">Careers</a></li>
                        <li><a href="#mk1" class="single-functions">Blog</a></li>
                        <li><button type="button" class="btn btn-danger"><a href="./redirect.html" class="redirect">Request Security</a></button></li>
                    </ul>          
                    
                </div>
                <div class="nav-isShow-button">
                    <button type="button" class="btn btn-primary">Menu</button>
                </div>
               
            </div>
        </nav>    
    </header>   
<!-- header end -->

<!-- Menu-functional-area start-->
<div class="Menu-functional-area">                
    <div class="Menu-close-btn">                    
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
        </svg>                    
    </div>                 
    <div class="Menu-functionals">
        <a href="./index.html" class="Menu-functionals-list">HOME</a>
        <a href="#" class="Menu-functionals-list">SERVICES</a>
            <div class="GSOC-functionals">
                <a href="./guarding-service.html"></span>Guarding Service</a>
                <a href="./system-service.html"></span>System Service</a>
                <a href="./consulting-service.html"></span>Consulting Service</a>
            </div>  
        <a href="./about-us.html" class="Menu-functionals-list">ABOUT</a>
        <a href="./contact.html">CONTACT</a>
        <button type="button" class="btn btn-danger"><a href="./redirect.html" class="redirect">Request Security</a></button>
    </div>        
</div>
<!-- Menu-functional-area end-->

<!-- contant start -->
<div class="contant" >
    
    <!-- contant-area-1 start -->
        <div class="card bg-dark text-white">  
            <img src="../public/images/consulting-service/consulting-service-img-01.jpg" class="card-img" alt="..."> 
            <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">  
                <div class="box text-center">  
                    <p class="card-textr" style="font-size: 4.5rem;">EMERGENCY PLANNING AND DISASTER RESPONSE</p>  
                    <!-- 预留后期添加文字使用 -->  
                    <p class="card-text" style="font-size: 1.8rem;color: rgb(143,163,183); ">Brosnan's Emergency Response Security teams are prepared for rapid deployment wherever and whenever crises occur.</p>  
                </div>  
            </div>  
        </div>
        <!-- contant-area-1 end -->

        <!-- contant-area-2 start -->

            <div class="contant-area-2 border-0 ">
                <div class="banner-text-center border-0 row w-100">
                    <div class="card text-center col-md-8 col-lg-6  col-sm-10  m-auto border-0">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 3.5rem;">Emergency Planning and Disaster Response</h5>
                            <p class="card-text " style="font-size: 1.8rem; margin-top: 1.5rem; color: rgb(117,117,117); ">
                                To properly anticipate and manage an emergency or disaster response, clients need a field-tested partner
                                that can provide detailed risk assessments, proactive security technologies, experienced security
                                personnel and real-time intelligence. Brosnan️'s team of disaster response specialists prepare and 
                                implement emergency action plans for terrorism, manmade disasters, social unrest, riots, active shooters,
                                disease outbreaks and other threat events.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        <!-- contant-area-2 end -->

        <!-- contant-area-3 start -->
        <div class="contant-area-3 ">
            <div class="container row">
                <div class="row-cols-5 m-auto">
                <div class="col-md-3 col-sm-12 col-12 m-auto">
                    <div>
                        <img src="../public/images/consulting-service/consulting-service-img-02.jpg" alt="" class="Act-Of-Terror">
                    </div>
                    <h5 class="font-weight-normal">AN ACT OF TERRORISM</h5>
                </div>
                <div class="col-md-3 col-sm-12 col-12 m-auto">
                    <div>
                        <img src="../public/images/consulting-service/consulting-service-img-03.jpg" alt="" class="Act-Of-Terror">
                    </div>
                    <h5 class="font-weight-normal">SOCIAL UNREST</h5>
                </div>
                <div class="col-md-3 col-sm-12 col-12 m-auto">
                    <div>
                        <img src="../public/images/consulting-service/consulting-service-img-04.jpeg" alt="" class="Act-Of-Terror">
                    </div>
                    <h5 class="font-weight-normal">UNPREDICTABLE CRISIS</h5>
                </div>
                <div class="col-md-3 col-sm-12 col-12 m-auto">
                    <div>
                        <img src="../public/images/consulting-service/consulting-service-img-05.jpg" alt="" class="Act-Of-Terror">
                    </div>
                    <h5 class="font-weight-normal">ANY EMERGENCY SITUATION</h5>
                </div>
                </div>
            </div>
        </div>
    <!-- contant-area-3 end -->

    <!-- contant-area-4 start -->


    <div class="contant-area-4" style="width:100vw; padding: 0px;">
        <div class="banner-text-center row p-0 col-12">
            <div class="card text-center col-md-8 col-lg-6  col-sm-10 m-auto border-0" style="padding: 0;">
                <div class="card-body ">
                    <h5 class="card-title" style="font-size: 3.5rem;">Emergency Response and Disaster Recovery Services</h5>
                    <p class="card-text " style="font-size: 1.8rem; margin-top: 1.5rem; color: rgb(117,117,117); ">
                        Brosnan’s pre-emptive emergency response plans developed for your organization
                        take into consideration a wide range of potential needs.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- contant-area-4 end -->

    <!-- contant-area-5 start -->

    <div class="contant-area-5 ">    
        <div class="card  p-5">
            <div class="row col-md-8 m-auto " >
                 <!--img  crd-img-offside  -->
                 <div class="col-lg-6 col-sm-12 m-auto" style="display: flex; justify-content: center;">
                    <img  src="../public/images/consulting-service/consulting-service-img-06.jpg" class="crd-img-offside img-fluid " alt="...">
                </div>
                <div class="col-lg-6 col-sm-12 d-flex justify-content-center ">
                    <div class="list align-content-center ">
                        <h5 class="card-title font-weight-normal" style="margin-top: 1.5rem;font-size: 3.5rem;">Protection of Assets</h5>
                        <div class="container5-box mt-1" style="font-size: 1.8rem;">
                            <div class="item1 sm-10  overflow-hidden ">
                                <p class="list-item0"><i class="fa fa-light fa-check" ></i>Technology</p>
                                <p class="list-item1"><i class="fa fa-light fa-check"></i>Buildings</p>
                                <p class="list-item2"><i class="fa fa-light fa-check"></i>Distribution Centers</p>
                                <p class="list-item3"><i class="fa fa-light fa-check"></i>Machinery</p>                                
                            </div>
                            <div class="item1  sm-10  overflow-hidden">
                                <p class="list-item0"><i class="fa fa-light fa-check"></i>Equipment</p>
                                <p class="list-item1"><i class="fa fa-light fa-check"></i>Retail Chain</p>
                                <p class="list-item2"><i class="fa fa-light fa-check"></i>Premise</p>
                                <p class="list-item3"><i class="fa fa-light fa-check"></i>Merchandise</p>
                            </div>
                        </div>
                    </div>             
                </div>
               
            </div>
        </div>
       
    </div>
    <!-- contant-area-5 end -->

    <!-- contant-area-6 start -->
    <div class="contant-area-6">
        <div class="card p-5">
            <div class="row col-md-8 m-auto d-flex" >                
                <div class="col-lg-6 col-sm-12 d-flex justify-content-center " id="area-6-contant">
                    <div class="list">
                        <div class="list-1 m-auto">
                            <h5 class="card-title font-weight-normal" style="margin-top: 1.5rem;font-size: 3.5rem;">Brosnan Strategic Response Team</h5>
                            <div class="container5-box " style="font-size: 1.8rem;">
                                <div>
                                    Brosnan️’s Strategic Response Teams (BSRT) can supplement your existing security program.
                                    The BSRT program is composed of elite teams of off-duty or former law enforcement professionals available for
                                    rapid deployment during heightened or critical threat events. BSRT personnel have a minimum of ten years of 
                                    law enforcement experience and have completed Brosnan University™ enhanced training in crowd control and
                                    de-escalation techniques. 
                                </div>
                                <div class="mt-2">
                                    The BSRT program provides another line of defense for your company to address event crowd control, 
                                    civil unrest and active shooter scenarios.
                                </div>
                            </div>
                        </div>
                        <div class="list-2 m-auto">
                            <h5 class="card-title  font-weight-normal" style="margin-top: 1.5rem;font-size: 3.5rem;">BSRT Depolyments Include</h5>
                            <div class="container5-box " style="font-size: 1.8rem;">
                                <div class="item sm-10  overflow-hidden ">
                                    <p class="list-item0"><i class="fa fa-light fa-check"></i>Crowd Control</p>
                                    <p class="list-item1"><i class="fa fa-light fa-check"></i>Civil Unrest</p>
                                    <p class="list-item2"><i class="fa fa-light fa-check"></i>Active Shooters</p>
                                    <p class="list-item3"><i class="fa fa-light fa-check"></i>Terrorist Events</p>                                
                                </div>                                
                            </div>
                        </div>
                    </div>             
                </div>
                <!--img  crd-img-offside  -->
                <div class="col-lg-6 col-sm-12 m-auto" style="display: flex; justify-content: center;" id="area-6-image">
                    <img  src="../public/images/consulting-service/consulting-service-img-07.jpg" class="crd-img-offside img-fluid " alt="...">
                </div>
            </div>
        </div>

    </div>

    <!-- contant-area-6 end -->

     <!-- contant-area-7 start -->
     <div class="contant-area-7 ">    
        <div class="card  p-5">
            <div class="row col-md-8 m-auto " >
                 <!--img  crd-img-offside  -->
                 <div class="col-lg-6 col-sm-12 m-auto" style="display: flex; justify-content: center;">
                    <img  src="../public/images/consulting-service/consulting-service-img-08.png" class="crd-img-offside img-fluid " alt="...">
                </div>
                <div class="col-lg-6 col-sm-12 d-flex justify-content-center ">
                    <div class="list align-content-center ">
                        <h5 class="card-title font-weight-normal " style="margin-top: 1.5rem;font-size: 3.5rem;">Site Assessments</h5>
                        <div class="container5-box " style="font-size: 1.8rem;">
                            <div>
                                Brosnan assesses threats and vulnerabilities applicable to your organization,
                                 identifies potential hazards, analyzes what could happen if a hazard occurs and delivers 
                                 specialized solutions that mitigate security threats.
                            </div>
                            <div class="mt-2">
                               
                            </div>
                        </div>
                    </div>             
                </div>
               
            </div>
        </div>
       
    </div>

    <!-- contant-area-7 end -->

     <!-- contant-area-8 start -->
     <div class="contant-area-8 ">    
        <div class="card  p-5" style="background-color: rgb(238,241,244);">
            <div class="row col-md-8 m-auto d-flex" >                 
                <div class="col-lg-6 col-sm-12 d-flex justify-content-center" id="area-8-contant">
                    <div class="list align-content-center ">
                        <h5 class="card-title font-weight-normal " style="margin-top: 1.5rem;font-size: 3.5rem;">Armed and Unarmed Services</h5>
                        <div class="container5-box " style="font-size: 1.8rem;">
                            <div>
                                Brosnan's ability to get "boots on the ground" rapidly and
                                effectively allows us to manage crisis situations whenever and wherever
                                they occur.
                            </div>
                            <div class="mt-2">
                               
                            </div>
                        </div>
                    </div>             
                </div>
                <!--img  crd-img-offside  -->
                <div class="col-lg-6 col-sm-12 m-auto" style="display: flex; justify-content: center;" id="area-8-image" >
                    <img  src="../public/images/consulting-service/consulting-service-img-09.jpg" class="crd-img-offside img-fluid " alt="...">
                </div>
               
            </div>
        </div>       
    </div>

    <!-- contant-area-8 end -->

     <!-- contant-area-9 start -->
     <div class="contant-area-9 ">    
        <div class="card  p-5" >
            <div class="row col-md-8 m-auto " >
                  <!--img  crd-img-offside  -->
                <div class="col-lg-6 col-sm-12 m-auto" style="display: flex; justify-content: center;">
                    <img  src="../public/images/consulting-service/consulting-service-img-10.jpg" class="crd-img-offside img-fluid " alt="...">
                </div>
                <div class="col-lg-6 col-sm-12 d-flex justify-content-center ">
                    <div class="list align-content-center ">
                        <h5 class="card-title font-weight-normal " style="margin-top: 1.5rem;font-size: 3.5rem;">Executive Protection</h5>
                        <div class="container5-box " style="font-size: 1.8rem;">
                            <div>
                                We maximize security to those under our protection by delivering and incorporating rapid 
                                agent deployment 24/7 worldwide, creating plans and preparations in advance,
                                acquiring real-time intel from a wide variety of global resources and liaising with local 
                                authorities.
                            </div>
                            <div class="mt-2">
                               
                            </div>
                        </div>
                    </div>             
                </div>        
            </div>
        </div>
       
    </div>

    <!-- contant-area-9 end -->
    
       <!-- contant-area-10 start -->
     <div class="contant-area-10 ">    
        <div class="card  p-5" style="background-color: rgb(238,241,244);">
            <div class="row col-md-8 m-auto d-flex" >                 
                <div class="col-lg-6 col-sm-12 d-flex justify-content-center" id="area-10-contant">
                    <div class="list align-content-center ">
                        <h5 class="card-title font-weight-normal " style="margin-top: 1.5rem;font-size: 3.5rem;">Evacuation Services for Employees and Their Families</h5>
                        <div class="container5-box " style="font-size: 1.8rem;">
                            <div>
                                People are your most valuable resource. 
                                Our services can protect employees and their families 
                                nearly anywhere in the world.
                            </div>
                            <div class="mt-2">
                               
                            </div>
                        </div>
                    </div>             
                </div>
                <!--img  crd-img-offside  -->
                <div class="col-lg-6 col-sm-12 m-auto" style="display: flex; justify-content: center;" id="area-10-image" >
                    <img  src="../public/images/consulting-service/consulting-service-img-11.jpg" class="crd-img-offside img-fluid " alt="...">
                </div>
               
            </div>
        </div>       
    </div>

    <!-- contant-area-10 end -->

      <!-- contant-area-11 start -->
      <div class="contant-area-11 ">    
        <div class="card  p-5" >
            <div class="row col-md-8 m-auto " >
                  <!--img  crd-img-offside  -->
                <div class="col-lg-6 col-sm-12 m-auto" style="display: flex; justify-content: center;">
                    <img  src="../public/images/consulting-service/consulting-service-img-12.jpg" class="crd-img-offside img-fluid " alt="...">
                </div>
                <div class="col-lg-6 col-sm-12 d-flex justify-content-center ">
                    <div class="list align-content-center ">
                        <h5 class="card-title font-weight-normal " style="margin-top: 1.5rem;font-size: 3.5rem;">
                            Escort Services for Transportation of Your Goods or Supplies
                        </h5>
                        <div class="container5-box " style="font-size: 1.8rem;">
                            <div>
                                Brosnan provides escort services for the transportation of 
                                goods and supplies for emergency staging and evacuations.
                            </div>
                            <div class="mt-2">
                               
                            </div>
                        </div>
                    </div>             
                </div>        
            </div>
        </div>
       
    </div>
  <!-- contant-area-11 end -->

     <!-- banner side start -->
     <div class="banner-area ">
        <div class="container-12">
            <div class="banner-side d-flex justify-content-between align-items-center col-8 m-auto">
                <div class="card border-0">
                    <div class="card-body border-0">
                        <h5 class="card-title m-0">Get Started with Brosnan®</h5>
                        <p class="card-text">The Leader in Security Services</p>
                    </div>
                </div>
                <div class="right-btn">
                    <a href="./redirect.html" class="btn btn-primary">Get a Quote</a>
                </div>
            </div>
        </div> 
     </div>
    <!-- banner side end -->
</div>
<!-- contant end -->

 
  

  

<!-- footer start -->
<footer>
    <div >
        <div class="generic">
            <p class="title">Company</p>
            <p class="paragraph"><a href="">About Us</a></p>
            
        </div>
        <div class="generic"> 
            <p class="title">Security Services</p>
            <p class="paragraph"><a href="">Guarding Service</a></p>
            <p class="paragraph"><a href="">System Service</a></p>
            <p class="paragraph"><a href="">Consulting Service</a></p>
            
        </div>
        <div class="generic">
            <p class="title">Contact Us</p>
            <p class="paragraph"><a href="">Contact</a></p>
            <p class="paragraph"> <a href="">Address:</a></p>
            <p class="paragraph"><a href="">Phone:</a></p>
            <p class="paragraph"><a href="">Mail:</a></p>           
        </div>        
    </div>    
</footer>
<div class="botton-container">
    <div class="botton-container-area">
        <p style="text-align: center;font-size: 12px;">© 2022 Brosnan Risk Consultants | Powered by LCM247</p>
    </div>
</div>
<!-- footer end -->
</body>
</html>