<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUARDING SERVICE</title>
    <link rel="stylesheet" href="../public/bootstrap/bootstrap-3.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/bootstrap/bootstrap-4.6.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/guarding-service.css">
    <link rel="stylesheet" href="../public/css/public/nav.css">
    <link rel="stylesheet" href="../public/css/public/content-wrap-title.css">
    <link rel="stylesheet" href="../public/css/public/banner-side.css">
    <link rel="stylesheet" href="../public/css/public/footer.css">
    <script src="../public/js/jquery-3.7.1.min.js"></script>
    <script src="../public/js/menu-show.js"></script>
    <!-- icon -->
    <link rel="icon" href="../favicon.ico">
    <style>
        *{
            font-family: "Montserrat", sans-serif;
        }
    </style>
   
</head>
<body>

    <header>   
        <nav>
            <div class="nav-content-area">
                <div class="nav-icon">
                    <img src="../public/images/pages-pic-01.png" alt="" >
                </div>            
                <div class="nav-functional-area">
                    <ul class="nav-functional-area-ul">
                        <li style="position: relative;" class="nav-functional-area-list">
                            <a href="./index.html" mousemove="">HOME</a>                            
                        </li>
                        <li style="position: relative;" class="nav-functional-area-list">
                            <a href="#mk1">SERVICE</a>                  
                            <ul style="display: none; position: absolute ; top: 25; left: 15; background-color:rgb(6,61,108); width: 25rem;border-top: 1px solid rgb(10,96,172); text-indent: 1.5rem;">
                                <li ><a href="./guarding-service.html">Guarding Service</a></li>
                                <li ><a href="./system-service.html">System Service</a></li>
                                <li ><a href="./consulting-service.html">Consulting Service</a></li>  
                            </ul>
                        </li>
                        <li style="position: relative;" class="nav-functional-area-list">
                            <a href="./about-us.html">ABOUT</a>                           
                        </li>
                        <li><a href="./contact.html" class="single-functions">CONTACT</a></li>                        
                        <li><button type="button" class="btn btn-danger"><a href="./login.html" class="redirect">Login

                        </a></button></li>
                    </ul>          
                    
                </div>
                <div class="nav-isShow-button">
                    <button type="button" class="btn btn-primary">Menu</button>
                </div>
               
            </div>
        </nav>   
    </header>     

<!-- Menu-functional-area start-->
<div class="Menu-functional-area">                
    <div class="Menu-close-btn">                    
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
        </svg>                    
    </div>                 
    <div class="Menu-functionals">
        <a href="./index.html" class="Menu-functionals-list">HOME</a>
        <a href="#" class="Menu-functionals-list">SERVICES</a>
            <div class="GSOC-functionals">
                <a href="./guarding-service.html"></span>Guarding Service</a>
                <a href="./system-service.html"></span>System Service</a>
                <a href="./consulting-service.html"></span>Consulting Service</a>
            </div>  
        <a href="./about-us.html" class="Menu-functionals-list">ABOUT</a>
        <a href="./contact.html">CONTACT</a>
        <button type="button" class="btn btn-danger"><a href="./login.html" class="redirect">Login</a></button>
    </div>        
</div>
<!-- Menu-functional-area end-->

<!-- contant wrap start -->
<div class="card bg-dark text-white">  
    <img src="../public/images/guarding-service/guarding-service-img-01.jpg" class="card-img" alt="..."> 
    <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">  
        <div class="box text-center">  
            <p class="card-text">REAL ESTATE CONSTRUCTION-TO-OCCUPANCY SECURIT</p>  
            <!-- 预留后期添加文字使用 -->  
            <p class="card-text"></p>  
        </div>  
    </div>  
</div>

<!-- contant wrap end -->

<!-- pageContentStart -->
<div class="container-full-screen">
    <div class="container">
        <div class="card  p-5">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-body">
                        <h5 class="card-title">Brosnan secures properties from construction to occupancy//</h5>
                        <p class="card-text">A property under development is vulnerable and at risk for security breaches in-between phases of construction. </p>
                        <p class="card-text">Brosnan’s Construction-to-Occupancy Security Program (C2O) is the security industry’s only comprehensive security solution for commercial construction projects.  The program begins with a security assessment of the construction site and recommendations for a layered security program that evolves and progresses, as the site evolves and progresses. This innovative program is the industry’s only full circle, end-to-end solution that ensures continuity from the time the first shovel breaks ground until the day that the new property's tenants occupy their spaces.</p>
                        
                    </div>
                    
                </div>
                <!--img  crd-img-offside  -->
                <div class="col-lg-6">
                    <img src="../public/images/guarding-service/guarding-service-img-02.jpg" class="crd-img-offside img-fluid" alt="...">
                </div>
            </div>
        </div>
        <div class="card  p-5">
            <div class="row">
                <!--img  crd-img-offside  -->
                <div class="col-lg-6" id="contant2-iamge">
                        <img src="../public/images/guarding-service/guarding-service-img-03.jpg" class="crd-img-offside img-fluid" alt="...">
                </div>

                <div class="col-lg-6" id="contant2-text">
                    <div class="card-body">                        
                        <!-- list -->
                        <div class="list">
                            <h5 class="card-title">OUR SERVICES INCLUDE //</h5>
                            <div class="item">
                                <p class="list-item0"><i class="fa fa-light fa-check"></i>Access Control</p>
                                <p class="list-item1"><i class="fa fa-light fa-check"></i>Intrusion Monitoring</p>
                                <p class="list-item2"><i class="fa fa-light fa-check"></i>Surveillance</p>
                                <p class="list-item3"><i class="fa fa-light fa-check"></i>Customized Security Systems</p>
                                <p class="list-item4"><i class="fa fa-light fa-check"></i>Risk Assessments</p>
                                <p class="list-item5"><i class="fa fa-light fa-check"></i>Emergency and Disaster Planning</p>
                                <p class="list-item6"><i class="fa fa-light fa-check"></i>Business Continuity Planning</p>
                                <p class="list-item7"><i class="fa fa-light fa-check"></i>CCTV Monitoring </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
              
            </div>
        </div>
    </div>
</div>
<!-- banner side start -->
<div class="container">
    <div class="banner-side d-flex justify-content-between align-items-center ">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title m-0">Get Started with Brosnan®</h5>
                <p class="card-text">The Leader in Security Services</p>
            </div>
        </div>
        <div class="right-btn">
            <a href="./login.html" class="btn btn-primary">Get a Quote</a>
        </div>
    </div>
</div>
<!-- banner side end -->

<!-- pageContentEnd -->

<!-- footer start -->
<div class="container-fluid" style="background-color: #292A2F;">
    <div class="row justify-content-md-around">
        <div class="col-sm-auto" style="color: #fff;">
            <p class="title-text">SOME CONPANY ALOGAN</p>
        </div>
    </div>
    <hr style="background-color: #fff;">
    <div class="row justify-content-md-around" style="padding-bottom: 60px;">
        <div class="col-sm-auto" style="color: #fff;">
            <p class="title-text">COMPANY</p>
             <p style="font-size: 16px;"><a href="./about-us.html" style="color: #fff;">About Us</a></p>
        </div>
        <div class="col-sm-auto" style="color: #fff;">
            <p class="title-text">SECURITY SERVICES</p>
            <p style="font-size: 16px;"><a href="./guarding-service.html" style="color: #fff;">Guarding Service</a></p>
            <p style="font-size: 16px;"><a href="./system-service.html" style="color: #fff;">System Service</a></p>
            <p style="font-size: 16px;"><a href="./consulting-service.html" style="color: #fff;">Consulting Service</a></p>
        </div>
        <div class="col-sm-auto" style="color: #fff;">
            <p class="title-text"><a href="./contact.html" style="color: #fff;">CONTACT</a></p>
            <p style="font-size: 16px;">Address:</p>
            <p style="font-size: 16px;">E-Mail</p>
        </div>
    </div>
</div>
<!-- footer end -->
</body>
</html>