<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/bootstrap/bootstrap-4.6.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/index-media.css">
    <link rel="stylesheet" href="../public/css/public/nav.css">
    <script src="../public/js/jquery-3.7.1.min.js"></script>
    <script src="../public/bootstrap/bootstrap-4.6.1-dist/js/bootstrap.js"></script>
    <script src="../public/js/menu-show.js"></script>
    <title>HOME</title>
</head>

<body>
    <!-- nav start -->
    <header>
        <nav>
            <div class="nav-content-area">
                <div class="nav-icon">
                    <img src="../public/images/pages-pic-01.png" alt="">
                </div>
                <div class="nav-functional-area">
                    <ul class="nav-functional-area-ul">
                        <li style="position: relative;" class="nav-functional-area-list">
                            <a href="./index.html" mousemove="">HOME</a>
                        </li>
                        <li style="position: relative;" class="nav-functional-area-list">
                            <a href="#mk1">SERVICE</a>
                            <ul
                                style="display: none; position: absolute ; top: 25; left: 15; background-color:rgb(6,61,108); width: 25rem;border-top: 1px solid rgb(10,96,172); text-indent: 1.5rem;">
                                <li><a href="./guarding-service.html">Guarding Service</a></li>
                                <li><a href="./system-service.html">System Service</a></li>
                                <li><a href="./consulting-service.html">Consulting Service</a></li>
                            </ul>
                        </li>
                        <li style="position: relative;" class="nav-functional-area-list">
                            <a href="./about-us.html">ABOUT</a>
                        </li>
                        <li><a href="./contact.html" class="single-functions">CONTACT</a></li>
                        <li><button type="button" class="btn btn-danger" style="background-color: #C4283F;"><a href="./redirect.html"
                                    class="redirect">Request Security</a></button></li>
                    </ul>

                </div>
                <div class="nav-isShow-button">
                    <button type="button" class="btn btn-primary">Menu</button>
                </div>

            </div>
        </nav>
    </header>
    <!-- nav end -->

    <!-- Menu-functional-area start-->
    <div class="Menu-functional-area">
        <div class="Menu-close-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
                viewBox="0 0 16 16">
                <path
                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
            </svg>
        </div>
        <div class="Menu-functionals">
            <a href="./index.html" class="Menu-functionals-list">HOME</a>
            <a href="#" class="Menu-functionals-list">SERVICES</a>
            <div class="GSOC-functionals">
                <a href="./guarding-service.html"></span>Guarding Service</a>
                <a href="./system-service.html"></span>System Service</a>
                <a href="./consulting-service.html"></span>Consulting Service</a>
            </div>
            <a href="./about-us.html" class="Menu-functionals-list">ABOUT</a>
            <a href="./contact.html">CONTACT</a>
            <button type="button" class="btn btn-danger"><a href="./redirect.html" class="redirect">Request
                    Security</a></button>
        </div>
    </div>
    <!-- Menu-functional-area end-->

    <!-- service one start -->
    <div class="container-fluid RISK overlay d-flex align-items-center"
        style="padding: 0; margin: 0; background-image: url(../public/images/index/index-service-01.WEBP); height: 700px;">
        <div class="row">
            <div class="col-auto">
                <div class="RISK-col d-flex flex-column justify-content-end align-items-center p-5"
                    style="color: #fff; margin-top:200px;">
                    <i class="fa fa-facebook-square fa-2x" style="margin: 30px 0 30px 0;"></i>
                    <i class="fa fa-instagram fa-2x" style="margin: 30px 0 30px 0;"></i>
                    <i class="fa fa-twitter fa-2x" style="margin: 30px 0 30px 0;"></i>
                    <i class="fa fa-linkedin fa-2x" style="margin: 30px 0 30px 0;"></i>
                </div>
            </div>
            <div class="col-auto" style="border-left: 1px solid #fff; height: 700px;">
                <div class="RISK-col-tit d-flex flex-column justify-content-end align-items-start"
                    style="color: #fff; margin-top:200px;">
                    <span style="font-size: 64px;">BROSNAN <br> RISK CONSULTANTS</span>
                    <p style="width: 670px; font-size: 30px; margin-top: 20px;">
                        is a leading nationwide provider of security services trusted by the world’s largest brands.
                    </p>
                    <button class="button" style="margin: 20px 0 0 0; padding: 0;" onclick="redirectToPage()">OUR
                        CUSTOMERS <i class="fa fa-caret-right" style="color: #fff;"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- service one end -->


    <!-- title -->
    <div class="title-con" style="margin-top: 5%;">
        <i class="fa fa-info-circle fa-4x"></i>
        <div class="content">
            <p style="font-size: 28px; padding: 0; margin: 0; color: #0F3B6C;">CONCERNS FOR U.S. BUSINESSES RELATED TO
                GAZA</p>
        </div>
        <button class="button" id="btn">INQUIRE</button>
    </div>
    <!-- title -->

    <!-- service two start -->
    <div class="container-fluid BROSNAN" style="margin-top: 5%;">
        <div class="BROSNAN jumbotron jumbotron-fluid mb-3 pt-0 pb-0 bg-lightblue position-relative"
            style="margin: 0 100px;">
            <div class="BROSNAN pr-0 h-100 tofront">
                <div class="BROSNAN row justify-content-between">
                    <div class="BROSNAN-col col-md-6 pt-6 pb-6 align-self-center position-relative p-5"
                        style="background-color: #0F3B6C; left: 100px; top: 50px;">
                        <h1 class="secondfont mb-3 font-weight-bold" style="color: #fff; width: 180px;">THE BROSNAN
                            DIFFERENCE</h1>
                        <div style="margin: 10px 0;">
                            <div style="border-bottom: 3px solid #fff; width: 130px; height: 2px;">
                                <div style="border-bottom: 3px solid #C4283F; width: 30px; height: 2px;"></div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <p style="color: #fff; width: 300px;">
                                Brosnan Risk Consultants is a leading nationwide provider of security services trusted
                                by
                                the world’s largest brands.
                            </p>

                            <p style="color: #fff; width: 300px;">
                                Family owned and operated, for over 28 years, Brosnan has leveraged evolving
                                technologies,
                                manpower and data to reduce organizational risk to clients.
                            </p>

                            <p style="color: #fff; width: 300px;">
                                Headquartered in New York, and operational in 45 states and over 1000 cities. Brosnan
                                deploys its patented Smart Security Solutions so we can mitigate issues before they
                                become
                                threats.
                            </p>
                        </div>
                        <a href="#" class="btn btn-dark" onclick="redirectToPagedemo()"
                            style="background-color: transparent; border: none; margin: 20px 0; padding: 0;">
                            READ MORE <i class="fa fa-caret-right" style="color: #C4283F;"></i>
                        </a>
                    </div>
                    <div class="BROSNAN-col col-md-6 position-relative p-0" style="top: 200px; right: 100px;">
                        <img src="../public/images/index/index-service-03.WEBP" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service two end -->

    <!-- title -->
    <div class="container" style="margin-top: 10%;">
        <div class="row">
            <div class="col-6 col-md-4" style="font-size: 54px;">
                <p style="width: 310px; margin: 0; color: #0F3B6C;">
                    SERVICES WE PROVIDE
                </p>
                <div style="margin: 10px 0;">
                    <div style="border-bottom: 3px solid #0F3B6C; width: 130px; height: 2px;">
                        <div style="border-bottom: 3px solid #C4283F; width: 30px; height: 2px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8" style="font-size: 18px; display: flex; align-items: center;">
                <p style="margin: 0; color: #0F3B6C;">
                    Our nationwide network of security guards gives you immediate access to highly trained
                    professionals.
                </p>
            </div>
        </div>
    </div>
    <!-- title -->

    <!-- pictures of goods start -->
    <div class="container" style="margin-top: 5%;">
        <div class="row">
            <div class="col-sm" style="padding: 0;">
                <div class="card" style="width: 100%;">
                    <img src="../public/images/index/index-service-04.WEBP" class="card-img-top" alt="..." height="500">
                    <div class="card-body" style="position: absolute; bottom: 10px;">
                        <p class="card-text" style="color: #fff; font-size: 20px;">SECURITY OFFICER SERVICES ARMED AND
                            UNARMED</p>
                    </div>
                </div>
            </div>
            <div class="col-sm" style="padding: 0;">
                <div class="card" style="width: 100%;">
                    <img src="../public/images/index/index-service-05.WEBP" class="card-img-top" alt="..." height="500">
                    <div class="card-body" style="position: absolute; bottom: 10px;">
                        <p class="card-text" style="color: #fff; font-size: 20px;">OFF DUTY POLICE SERVICES</p>
                    </div>
                </div>
            </div>
            <div class="col-sm" style="padding: 0;">
                <div class="card" style="width: 100%;">
                    <img src="../public/images/index/index-service-06.WEBP" class="card-img-top" alt="..." height="500">
                    <div class="card-body" style="position: absolute; bottom: 10px;">
                        <p class="card-text" style="color: #fff; font-size: 20px;">EMERGENCY RESPONSE SERVICES</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pictures of goods end -->

    <!-- title -->
    <div class="container" style="margin-top: 5%;">
        <div class="row">
            <div class="col-6 col-md-4" style="font-size: 54px;">
                <p style="width: 290px; margin: 0; color: #0F3B6C;">
                    WHY CHOOSE BROSNAN?
                </p>
                <div style="margin: 10px 0;">
                    <div style="border-bottom: 3px solid #0F3B6C; width: 130px; height: 2px;">
                        <div style="border-bottom: 3px solid #C4283F; width: 30px; height: 2px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8" style="font-size: 18px; display: flex; align-items: center;">
                <p style="margin: 0; color: #0F3B6C;">
                    Brosnan’s Global Security Operations Center (GSOC) is an integral part of our Smart Security
                    Solutions, assisting with and sustaining the totality of service delivery and operations.
                </p>
            </div>
        </div>
    </div>
    <!-- title -->


    <!-- service three start -->
    <div class="container-fluid">
        <div style="display: flex; margin: 20px;" class="row">
            <div class="col-md-4" style="padding: 0;">
                <img src="../public/images/index/index-service-07.WEBP" class="img-fluid" alt="...">
            </div>
            <div class="col-md-6" style="display: flex; align-items: end; justify-content: end; padding: 0;">
                <div class="accordion" id="accordionExample" style="width: 676px; margin: 0; padding: 0;">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                    style="text-decoration: none; font-size: 20px;">
                                    Seamless Security Post Fulfillment
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body" style="font-size: 18px; padding: 20px 90px 40px 30px;">
                                Our nationwide network of security guards gives you immediate access to highly trained
                                professionals.

                                Brosnan’s dispatch team is standing by 24/7/365 to fulfill permanent, temporary and
                                emergency personnel needs. By tapping into our network, you can flex your staffing as
                                you grow or for special events and emergencies.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo" style="text-decoration: none; font-size: 20px;">
                                    Brosnan Command Center for Real-time Reporting
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body" style="font-size: 18px; padding: 20px 90px 40px 30px;">
                                Brosnan has deep relationships with law enforcement at the local and national levels,
                                giving our clients an added layer of protection.

                                Founded by former NYPD detective Patrick Brosnan, our company prioritizes communicating
                                with law enforcement at every level. The Brosnan Command Center tracks law enforcement
                                scanners and alerts and coordinates with the appropriate officials when incidents affect
                                your organization.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree" style="text-decoration: none;  font-size: 20px;">
                                    Law Enforcement Partnerships
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body" style="font-size: 18px; padding: 20px 90px 40px 30px;">
                                The Brosnan Command Center is the tactical differentiator which monitors, collects,
                                analyzes and disseminates data from multiple sources to on-site personnel, ensuring
                                client assets and property are effectively secured.

                                The BCC leverages our patented security solution and monitors, collects, analyses, and
                                disseminates data to our security officers in the field in over 1000 sites across
                                America.

                                Our Command Center gives clients real-time visibility into guard activities and incident
                                reporting, providing complete transparency.

                                We make it easy to view and manage your security program. Every officer is equipped with
                                a smartphone that communicates with the Brosnan Command Center. From timekeeping to
                                alerts and incident reports, your data is surfaced in a customizable dashboard.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#headingFour" aria-expanded="false"
                                    aria-controls="collapseThree" style="text-decoration: none; font-size: 20px;">
                                    Account Management
                                </button>
                            </h2>
                        </div>
                        <div id="headingFour" class="collapse" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="card-body" style="font-size: 18px; padding: 20px 90px 40px 30px;">
                                Our 24/7 operations team is always working to ensure service levels are met.

                                Account managers and supervisors use site visits, officer training, Key Performance
                                Indicators (KPIs) and regular client calls to provide unparalleled service. In addition,
                                Brosnan senior management monitors your account and reaches out regularly to confirm
                                your satisfaction.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service three end -->

    <!-- service four start -->
    <div class="container-title INDUSTRIES" style="margin-top: 5%;">
        <div class="INDUSTRIES jumbotron jumbotron-fluid mb-3 pt-0 pb-0 bg-lightblue position-relative"
            style="margin: 0 20px 0 200px;">
            <div class="INDUSTRIES pr-0 h-100 tofront">
                <div class="INDUSTRIES row justify-content-between">
                    <div class="INDUSTRIES-col col-sm pt-6 pb-6 align-self-center position-relative p-5"
                        style="background-color: #0F3B6C; left: -50px; margin: 100px 0;">
                        <div class="row">
                            <div class="col-sm">
                                <h1 class="secondfont mb-3 font-weight-bold" style="color: #fff; width: 200px;">
                                    INDUSTRIES
                                    WE SERVE</h1>
                                <div style="margin: 20px 0;">
                                    <div style="border-bottom: 3px solid #fff; width: 130px; height: 2px;">
                                        <div style="border-bottom: 3px solid #C4283F; width: 30px; height: 2px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <p style="color: #fff; font-size: 18px;">
                                    Brosnan is a leading full-service security company in the United States, and
                                    provides a
                                    range of specialized security services to meet all of our clients’ unique safety and
                                    security needs. Explore more options below.
                                </p>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 30px;">
                            <div class="col-sm">
                                <div class="logo-demo">
                                    <img src="../public/images/index/pages-pic-01.webp" alt="" />
                                </div>
                                <p style="width: 174px; color: #fff; font-size: 18px;">Banking And Financial
                                    Institutions</p>
                            </div>
                            <div class="col-sm">
                                <div class="logo-demo">
                                    <img src="../public/images/index/pages-pic-02.webp" alt="" />
                                </div>
                                <p style="width: 174px; color: #fff; font-size: 18px;">Distribution Centers And
                                    Logistics Industry</p>
                            </div>
                            <div class="col-sm">
                                <div class="logo-demo">
                                    <img src="../public/images/index/pages-pic-03.webp" alt="" />
                                </div>
                                <p style="width: 174px; color: #fff; font-size: 18px;">Education And Learning
                                    Environments</p>
                            </div>
                            <div class="col-sm">
                                <div class="logo-demo">
                                    <img src="../public/images/index/pages-pic-04.webp" alt="" />
                                </div>
                                <p style="width: 174px; color: #fff; font-size: 18px;">Healthcare And Hospital Services
                                </p>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 30px;">
                            <div class="col-sm">
                                <div class="logo-demo">
                                    <img src="../public/images/index/pages-pic-05.webp" alt="" />
                                </div>
                                <p style="width: 174px; color: #fff; font-size: 18px;">Healthcare And Hospital Services
                                </p>
                            </div>
                            <div class="col-sm">
                                <div class="logo-demo">
                                    <img src="../public/images/index/pages-pic-06.webp" alt="" />
                                </div>
                                <p style="width: 174px; color: #fff; font-size: 18px;">Manufacturing</p>
                            </div>
                            <div class="col-sm">
                                <div class="logo-demo">
                                    <img src="../public/images/index/pages-pic-07.webp" alt="" />
                                </div>
                                <p style="width: 174px; color: #fff; font-size: 18px;">Multifamily Properties</p>
                            </div>
                            <div class="col-sm">
                                <div class="logo-demo">
                                    <img src="../public/images/index/pages-pic-08.webp" alt="" />
                                </div>
                                <p style="width: 174px; color: #fff; font-size: 18px;">Retail Stores And Shopping
                                    Centers</p>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 30px;">
                            <div class="col-sm">
                                <div class="logo-demo">
                                    <img src="../public/images/index/pages-pic-08.webp" alt="" />
                                </div>
                                <p style="width: 174px; color: #fff; font-size: 18px;">Real Estate /Construction</p>
                            </div>

                            <div class="col-sm-8 INDUSTRIES-col"
                                style="background-color: #fff; top: 100px; right: 50px;">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-sm" style="margin: 40px;">
                                        <div style="font-size: 18px; color: #0F3B6C; width: 300px;">
                                            Brosnan
                                            stands as a prominent full-service security firm in the United States,
                                            delivering a
                                            variety
                                            of specialized security solutions designed to address the distinct safety
                                            and
                                            security
                                            demands of
                                            our clients.
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div>
                                            <button onclick="redirectToPage()" class="btn" href="#" role="button"
                                                style="color: #fff; text-align: center; background-color: #C4283F;">OUR
                                                CUSTOMERS <i class="fa fa-angle-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- service four end -->

    <!-- footer start -->
    <div class="container-fluid" style="background-color: #292A2F; margin-top: 10%;">
        <div class="row justify-content-md-around">
            <div class="col-sm-auto" style="color: #fff;">
                <p class="title-text">SOME CONPANY ALOGAN</p>
            </div>
        </div>
        <hr style="background-color: #fff;">
        <div class="row justify-content-md-around" style="padding-bottom: 60px;">
            <div class="col-sm-auto" style="color: #fff;">
                <p class="title-text">COMPANY</p>
                 <p style="font-size: 16px;"><a href="./about-us.html" style="color: #fff;">About Us</a></p>
            </div>
            <div class="col-sm-auto" style="color: #fff;">
                <p class="title-text">SECURITY SERVICES</p>
                <p style="font-size: 16px;"><a href="./guarding-service.html" style="color: #fff;">Guarding Service</a></p>
                <p style="font-size: 16px;"><a href="./system-service.html" style="color: #fff;">System Service</a></p>
                <p style="font-size: 16px;"><a href="./consulting-service.html" style="color: #fff;">Consulting Service</a></p>
            </div>
            <div class="col-sm-auto" style="color: #fff;">
                <p class="title-text"><a href="./contact.html" style="color: #fff;">CONTACT</a></p>
                <p style="font-size: 16px;">Address:</p>
                <p style="font-size: 16px;">E-Mail</p>
            </div>
        </div>
    </div>
    <!-- footer end -->

</body>

</html>