<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leader-ship</title>
    <!-- 图标库 -->
    
   <link rel="stylesheet" href="../public/bootstrap/bootstrap-3.4.1/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="../public/bootstrap/bootstrap-4.6.1-dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="../public/css/nav.css">
   <link rel="stylesheet" href="../public/css/content-wrap-title-rich-text.css">
   <link rel="stylesheet" href="../public/css/leader-ship.css">
   <link rel="stylesheet" href="../public/css/banner-center.css">
   <script src="../public/js/jquery-3.7.1.min.js"></script>
   <script src="../public/bootstrap/bootstrap-3.4.1/dist/js/bootstrap.min.js"></script>
   <script src="../public/bootstrap/bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>
   <script src="../public/js/nav.js"></script>
   <!-- 标签icon -->
   <!-- <link rel="icon" href="../favicon.ico"> -->
</head>
<body>

    <header>
        <!-- main information star -->
        <div class="top-block">
            <div class="display-Information"><a href="#mk1">+1 (800)-590-2180</a> | EMERGENCY SUPPORT</div>
        </div>  
        <!-- nav -->    
        <nav>
            <div class="nav-content-area">
                <div class="nav-icon">
                    <img src="../public/images/logo.png" alt="" >
                </div>            
                <div class="nav-functional-area">
                    <ul >
                        <li style="position: relative;" class="nav-functional-area-list">
                            <a href="#mk1">Servise</a>
                            <ul style="display: none; position: absolute ; top: 25; background-color:rgb(6,61,108); width: 25rem;border-top: 1px solid rgb(10,96,172);">
                                <li ><a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Emergency and Disaster Reaponse</a></li>
                                <li ><a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Disease Outbreak Response</a></li>
                                <li ><a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Strategic Response Teams</a></li>
                                <li ><a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Real Estate Security Services</a></li>       
                            </ul>
                        </li>
                        <li style="position: relative;" class="nav-functional-area-list">
                            <a href="#mk1">GSOC</a>                  
                            <ul style="display: none; position: absolute ; top: 25; left: 15; background-color:rgb(6,61,108); width: 25rem;border-top: 1px solid rgb(10,96,172);">
                                <li ><a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Global SEcurity Operations Center (GSOC)</a></li>
                                <li ><a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Brosnan Command Center (BCC)</a></li>
                                <li ><a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Bronan Intelligence Group(BIG)</a></li>
                                <li ><a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Bronan Emergency Operations Center(EOC)</a></li>       
                            </ul>
                        </li>
                        <li style="position: relative;" class="nav-functional-area-list">
                            <a href="#mk1">About</a>                  
                            <ul style="display: none; position: absolute ; top: 25; background-color:rgb(6,61,108); width: 25rem;border-top: 1px solid rgb(10,96,172);">
                                <li ><a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Leadership</a></li>
                                <li ><a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Rewards & Recognitions</a></li>
                                <li ><a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>SAFETY Act</a></li>
                                <li ><a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Press</a></li>       
                            </ul>
                        </li>
                        <li><a href="#mk1">Contact</a></li>
                        <li><a href="#mk1">Careers</a></li>
                        <li><a href="#mk1">Blog</a></li>
                        <li><button type="button" class="btn btn-danger">Request Security</button></li>
                    </ul>             
                    
                </div>
                <div class="nav-isShow-button">
                    <button type="button" class="btn btn-primary">Menu</button>
                </div>
               
            </div>
        </nav>    
    </header>   

<!-- Menu-functional-area start -->
    <div class="Menu-functional-area">                
        <div class="Menu-close-btn">                    
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>                    
        </div>                 
        <div class="Menu-functionals">
            <a href="#mk1" class="Menu-functionals-list">Services</a>
            <div class="Services-functionals">
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span> Security Services</a>
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Emergency and Disaster Reaponse</a>
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Disease Outbreak Response</a>
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Strategic Response Teams</a>
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Real Estate Security Services</a>
            </div>    
            <a href="#mk1" class="Menu-functionals-list">GSOC</a>
            <div class="GSOC-functionals">
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Global SEcurity Operations Center (GSOC)</a>
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Brosnan Command Center (BCC)</a>
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Bronan Intelligence Group(BIG)</a>
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Bronan Emergency Operations Center(EOC)</a>
            </div>  
            <a href="#mk1" class="Menu-functionals-list">About</a>
            <div class="About-functionals">
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Leadership</a>
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Rewards & Recognitions</a>
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>SAFETY Act</a>
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Press</a>                        
            </div>  
            <a href="#mk1">Contact</a>
            <a href="#mk1">Careers</a>
            <a href="#mk1">Blog</a>
            <button type="button" class="btn btn-danger">Request Security</button>
        </div>        
    </div>
<!-- Menu-functional-area end -->

<!-- content wrap start -->
    <div class="card bg-dark text-white">
        <img src="../public/images/leadership/leadership-wrap.jpg" class="card-img" alt="...">
        <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">  
            <!-- banner tile text -->
            <div class="box title-text-center">
                <p class="card-text">LEADERSHIP</p> 
                <!-- 后期添加文字使用 -->  
                <p class="card-text"></p> 
            </div>
            <!-- banner rich text -->
            <div class="box rich-text-center">
                <p class="card-text">As an industry-leading security provider, Brosnan <sup>®</sup> focuses on ways to continuously improve our operational structure, our people and the processes surrounding service delivery</p> 
            </div>
        </div>  
    </div>
<!-- content wrap end -->

<!-- pageContentStart -->
    <div class="container-full-screen p-5">

    <!-- chief leader start -->
        <div class="row m-0">
                <div class="col-sm-12">
                    <div class="container  d-flex justify-content-center">
                    <div class="card">
                        <img src="../public/images/leadership/leader1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Patrick J. Brosnan</h5>
                            <p class="card-text">Founder, Chairman</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- chief leader end -->

    <!-- leader start-->
        <!-- row1 -->
        <div class="container d-flex justify-content-between">
            <div class="card">
                <img src="../public/images/leadership/leader2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/leadership/leader3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
        </div>
        <!-- row2 -->
        <div class="container d-flex justify-content-between ">
            <div class="card">
                <img src="../public/images/leadership/leader4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/leadership/leader5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
        </div>
        <!-- row3 -->
        <div class="container d-flex justify-content-between ">
            <div class="card">
                <img src="../public/images/leadership/leader6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/leadership/leader7.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
        </div>
        <!-- row4 -->
        <div class="container d-flex justify-content-between ">
            <div class="card">
                <img src="../public/images/leadership/leader8.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/leadership/leader9.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
        </div>
        <!-- row5 -->
        <div class="container d-flex justify-content-between ">
            <div class="card">
                <img src="../public/images/leadership/leader10.jpg">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/leadership/leader11.jpg">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
        </div>
        <!-- row6 -->
        <div class="container d-flex justify-content-between ">
            <div class="card">
                <img src="../public/images/leadership/leader12.jpg">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/leadership/leader13.jpg">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
        </div>
        <!-- row7 -->
        <div class="container d-flex justify-content-between ">
            <div class="card">
                <img src="../public/images/leadership/leader14.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/leadership/leader15.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
        </div>
        <!-- row8 -->
        <div class="container d-flex justify-content-between ">
            <div class="card">
                <img src="../public/images/leadership/leader16.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Want to be one of us? We'd be happy to see youWant to be one of us? We'd be happy to see youWant to be one of us? We'd be happy to see you</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/leadership/leader17.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
        </div>
        <!-- row9 -->
        <div class="container d-flex justify-content-between">
            <div class="card">
                <img src="../public/images/leadership/leader18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/images/leadership/leader19.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Patrick J. Brosnan</h5>
                    <p class="card-text">Founder, Chairman</p>
                </div>
            </div>
        </div>
    <!-- leader end -->

    </div>
<!-- page content end -->

<!-- banner center start -->
<div class="container-full">
    <div class="banner-text-center">
        <div class="card text-center">
            <div class="card-body p-5">
                <h5 class="card-title">We're Hiring - Join the Team</h5>
                <p class="card-text">Want to be one of us? We'd be happy to see you in the team.</p>
                <a href="#" class="btn btn-primary">Brosnan Careers</a>
            </div>
        </div>
    </div>
</div>
<!-- banner center end -->

</body>
</html>