<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYSTEM SERVICE</title>
    <link rel="stylesheet" href="../public/bootstrap/bootstrap-3.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/bootstrap/bootstrap-4.6.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/public/nav.css">
    <link rel="stylesheet" href="../public/css/public/content-wrap-title.css">
    <link rel="stylesheet" href="../public/css/system-service.css">
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/public/banner-side.css">
    <link rel="stylesheet" href="../public/css/public/footer.css">
    <script src="../public/js/jquery-3.7.1.min.js"></script>
    <script src="../public/js/menu-show.js"></script>
    <!-- icon -->
    <link rel="icon" href="../favicon.ico">
</head>
<body>

    <header>   
        <nav>
            <div class="nav-content-area">
                <div class="nav-icon">
                    <img src="../public/images/pages-pic-01.png" alt="" >
                </div>            
                <div class="nav-functional-area">
                    <ul >
                        <li style="position: relative;" class="nav-functional-area-list">
                            <a href="#mk1">Servise</a>
                            <ul style="display: none; position: absolute ; top: 25; background-color:rgb(6,61,108); width: 25rem;border-top: 1px solid rgb(10,96,172);">
                                <li ><a href="#mk1">Emergency and Disaster Reaponse</a></li>
                                <li ><a href="#mk1">Disease Outbreak Response</a></li>
                                <li ><a href="#mk1">Strategic Response Teams</a></li>
                                <li ><a href="#mk1">Real Estate Security Services</a></li> 
                            </ul>
                        </li>
                        <li style="position: relative;" class="nav-functional-area-list">
                            <a href="#mk1">GSOC</a>                  
                            <ul style="display: none; position: absolute ; top: 25; left: 15; background-color:rgb(6,61,108); width: 25rem;border-top: 1px solid rgb(10,96,172);">
                                <li ><a href="#mk1">Global SEcurity Operations Center (GSOC)</a></li>
                                <li ><a href="#mk1">Brosnan Command Center (BCC)</a></li>
                                <li ><a href="#mk1">Bronan Intelligence Group(BIG)</a></li>
                                <li ><a href="#mk1">Bronan Emergency Operations Center(EOC)</a></li> 
                            </ul>
                        </li>
                        <li style="position: relative;" class="nav-functional-area-list">
                            <a href="#mk1">About</a>                  
                            <ul style="display: none; position: absolute ; top: 25; background-color:rgb(6,61,108); width: 25rem;border-top: 1px solid rgb(10,96,172);">
                                <li ><a href="#mk1">Leadership</a></li>
                                <li ><a href="#mk1">Rewards & Recognitions</a></li>
                                <li ><a href="#mk1">SAFETY Act</a></li>
                                <li ><a href="#mk1">Press</a></li>     
                            </ul>
                        </li>
                        <li><a href="#mk1">Contact</a></li>
                        <li><a href="#mk1">Careers</a></li>
                        <li><a href="#mk1">Blog</a></li>
                        <li><button type="button" class="btn btn-danger"><a href="./redirect.html" class="redirect">Request Security</a></button></li>
                    </ul>                
                </div>
                <div class="nav-isShow-button">
                    <button type="button" class="btn btn-primary">Menu</button>
                </div>
               
            </div>
        </nav>    
    </header>   

    <!-- Menu-functional-area -->
    <div class="Menu-functional-area">                
        <div class="Menu-close-btn">                    
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>                    
        </div>                 
        <div class="Menu-functionals">
            <a href="#mk1" class="Menu-functionals-list">Services</a>
            <div class="Services-functionals">
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span> Security Services</a>
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Emergency and Disaster Reaponse</a>
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Disease Outbreak Response</a>
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Strategic Response Teams</a>
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Real Estate Security Services</a>
            </div>    
            <a href="#mk1" class="Menu-functionals-list">GSOC</a>
            <div class="GSOC-functionals">
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Global SEcurity Operations Center (GSOC)</a>
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Brosnan Command Center (BCC)</a>
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Bronan Intelligence Group(BIG)</a>
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Bronan Emergency Operations Center(EOC)</a>
            </div>  
            <a href="#mk1" class="Menu-functionals-list">About</a>
            <div class="About-functionals">
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Leadership</a>
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Rewards & Recognitions</a>
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>SAFETY Act</a>
                <a href="#mk1"><span class="glyphicon glyphicon-menu-right"></span>Press</a>                        
            </div>  
            <a href="#mk1">Contact</a>
            <a href="#mk1">Careers</a>
            <a href="#mk1">Blog</a>
            <button type="button" class="btn btn-danger"><a href="./redirect.html" class="redirect">Request Security</a></button>
        </div>        
    </div>

<!-- content wrap start -->
    <div class="card bg-dark text-white">  
        <img src="../public/images/system-service/system-service-img-01.jpg" class="card-img" alt="..."> 
        <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center">  
            <div class="box text-center">  
                <p class="card-text">BROSNAN STRATEGIC RESPONSE TEAM </p>  
            </div>  
        </div>  
    </div>
<!-- content wrap end -->

<!-- page content start -->
<div class="container-full-screen">
    <div class="container-full">
        <div class="card  p-5">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-body">
                        <h5 class="card-title">BROSNAN STRATEGIC RESPONSE TEAM //</h5>
                        <p class="card-text">Brosnan️’s Strategic Response Teams (BSRT) can supplement your existing security program. The BSRT program is composed of elite teams of off-duty or former law enforcement professionals available for rapid deployment during heightened or critical threat events. BSRT personnel have a minimum of ten years of law enforcement experience and have completed Brosnan University™ enhanced training in crowd control and de-escalation techniques. </p>
                        <p class="card-text">The BSRT program provides another line of defense for your company to address event crowd control, civil unrest and active shooter scenarios. </p>
                        <!-- list -->
                        <div class="list">
                            <h5 class="card-title">BSRT DEPLOYMENTS INCLUDE //</h5>
                            <div class="item">
                                <p class="list-item0"><i class="fa fa-light fa-check"></i>Crowd Control</p>
                                <p class="list-item1"><i class="fa fa-light fa-check"></i>Civil Unrest</p>
                                <p class="list-item2"><i class="fa fa-light fa-check"></i>Active Shooters</p>
                                <p class="list-item3"><i class="fa fa-light fa-check"></i>Terrorist Events</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
              <!--img  crd-img-offside  -->
              <div class="col-lg-6">
                <img src="../public/images/system-service/system-service-img-02.jpg" class="crd-img-offside img-fluid" alt="...">
              </div>
            </div>
        </div>
    </div>
    
</div>
<!-- page content end -->

<!-- banner side start -->
<div class="container">
    <div class="banner-side d-flex justify-content-between align-items-center ">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title m-0">Get Started with Brosnan®</h5>
                <p class="card-text">The Leader in Security Services</p>
            </div>
        </div>
        <div class="right-btn">
            <a href="#" class="btn btn-primary">Brosnan Careers</a>
        </div>
    </div>
</div>
<!-- banner side end -->

<!-- footer start -->
<footer>  
    <div>  
        <div class="generic">  
            <p class="title">Company</p>  
            <p class="paragraph">About Us</p>  
        </div>  
        <div class="generic">  
            <p class="title">Security Services</p>  
            <p class="paragraph">Guarding Service</p>  
            <p class="paragraph">System Service</p>  
            <p class="paragraph">Consulting Service</p>  
        </div>  
        <div class="generic">  
            <p class="title">Contact Us</p>  
            <p class="paragraph">Contact</p>  
            <p class="paragraph">Address:</p>  
            <p class="paragraph">Phone:</p>  
            <p class="paragraph">Mail:</p>  
        </div>  
    </div>  
    <div class="botton-container">  
        <div class="botton-container-area">  
            <p>© 2022 Brosnan Risk Consultants | Powered by LCM247</p>  
        </div>  
    </div>  
</footer>
<!-- footer end -->

</body>
</html>