/* content wrap title style */
.text-white{
    border-radius: 0;
    height: 60rem;
    z-index: 1;
}

/* image */
.text-white .card-img {
    width: 100%; /* 图片宽度与容器相同 */  
    height: 100%; /* 保持图片的纵横比 */  
    object-fit: cover; /* 图片填充容器，保持纵横比，可能会裁剪 */  
}

/* words area */
.card-img-overlay{
    text-align: center;
    margin-top: -6rem;
}

.text-center {  
    font-size: 4.5rem; 
    font-weight: 700;
    max-width: 70rem;
    max-height: 80rem;
    overflow: hidden;
    letter-spacing: 0.28rem; /* 文字间距 */
} 


@media (max-width: 992px) {
    .text-white{
        height: 30rem;
    }
 }
 @media (max-width: 575.98px) {
    .card-img-overlay{
        margin-top: -2rem;
    }
 }

 @media (max-width: 375px) {
    .card-img-overlay{
        margin-top: -2rem;
    }
    .card .card-img-overlay .text-center {
       max-width: 100%;
    }
    .text-white{
        height: 45rem;
    }
 }




