
footer{
    width: 100%;
    background-color: rgb(16,32,58);
    /* padding: 20px; */
}
@media (max-width: 1110px) {
    footer>div{
        width: 80%;
        margin: 0 auto;
        /* border: 1px solid greenyellow; */
        display: flex;
        flex-direction: column;        
    }
    .gineric:nth-child(2){
        display: none;
    }
    .paragraph,.title{
        text-align: center;
    }
}
@media (min-width:1110px) {
    footer>div{
        width: 80%;
        margin-left:24rem;
        /* border: 1px solid greenyellow; */
        display: flex;
        flex-direction: row;
        
    }
    .gineric:nth-child(2){
        display: block;
    }
    
    .paragraph,.title{
        text-align: left;
    }
}
.gineric>.title{
    font-size:1.8rem;
    font-weight: 500;
    color: white;
    margin: 0 0 1.5rem;
}
.paragraph{
    margin: 0 0 10px;
}
.paragraph>a{
    color: rgb(76,106,132);
}
footer>div>div{    
    width:100%;
    font-size: 1.8rem;
    margin-left: 15px;
    /* border: 1px solid gray; */
    flex-direction: column;
    
}
.gineric-icon>a{
    margin-right:1.5rem ;
}
.gineric-icon>a:hover{
    text-decoration: none;
}
/* botton-container start */
.botton-container{
    background-color: white;
    width: 100vw;
    margin: 0;
}
.botton-container-area{
    width: 40%;
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: center;
}