
/* pageContentStart */

.container-full-screen {
    background-color: #0F2F4F;
}

.container-full-screen .card{
    margin-top: 4.2rem;
    border: 0px;
    width: 35rem;
}

.container-full-screen .card-img-top{
   width: 100%;
   object-fit: cover;
}

.container-full-screen .card-body{
    background-color: #0F2F4F;
    text-align: center;
}
.container-full-screen .card-title{
    font-size: 2.4rem;
    color: #F3F6FA;
}

.container-full-screen .card-text{
    font-size: 1.8rem;
    color: #75756A;
}

/* 小于768px */
@media (max-width: 768px) { 
    .container-full-screen .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-full-screen .card-text{
        font-size: 1.4rem;
        color: #75756A;
    }
 }

 /* 小于350px */
 @media (max-width: 350px) { 
    .container-full-screen .container .card{
       width: 100%;
    }
 }
